azul = #AECBFF
gris-oscuro = #555

body
	background pink
	color gris-oscuro
	font-family Arial
	font-size 16 px

header
	background gris-oscuro
	color white
	padding 0.5em

	.logo
		border-right 1px solid azul
		width 60px

		img
			width 52px

	.titular
		margin 0 80px 70px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

.left
	float left

.right
	float right




